{{>layouts/header}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
    <!--    반복문 역할-->
        {{#article}}
            <tr>
                <th>{{id}}</th>
                <th>{{title}}</th>
                <th>{{content}}</th>
            </tr>
        {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-dark mb-1">Edit</a>
<br>

<!--삭제 링크 추가-->
<a href="/articles/{{article.id}}/delete" id="alert1" class="btn btn-danger mb-1">Delete</a>
<br>
<a href="/articles">Go to Article List</a>
{{>comments/_comments}}

{{>layouts/footer}}

<script>
<!--    const alert = document.querySelector("#alert");-->
<!--    alert.addEventListener("click", ()=>{-->
<!--            alert("삭제하시겠습니까?");-->
<!--    });-->
     const alert1 = document.querySelector("#alert1");
    alert1.addEventListener("click", ()=>{
        alert("삭제 하시겠습니까?");
    });
</script>