{{>layouts/header}}

<!--content-->
<div class="bg-dark text-white p-5">
    <h1>{{username}}님, 반갑습니다 안녕</h1>
    <!--    <h1>재한님, 반갑습니다</h1>-->
    <!--    <h1 th:text="${username}+'님, 반갑습니다'"></h1>-->
</div>
<!--
    템플릿 엔진: 지정된 템플릿 양식과 데이터가 합쳐져 html 문서를
    화면에 출력하는 소프트웨어
-->
{{>layouts/footer}}